:root{
    --primary-bg-color: white;
    --secondary-bg-color: #f1f1f1;
    --primary-color: #333;
    --secondary-color: #666;
    
    --hover-color: #70bae2;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html,
body{
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    background-color: var(--primary-bg-color);
    scroll-behavior: smooth;
    color: var(--primary-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

/* Home */
#home .title{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

#home .title h1,
#home .title span {
    z-index: 1;
    color:var(--primary-color);
    padding: 10px;
    text-align: center;
  }

#home .title h1{
    font-size: 40px;
    padding-top: 30px;
}

#home .title span{
    padding: 5px;
    font-size: 20px;
}
/* Navbar */
#navbar{
    height: 20px;
    width: 100%;
    margin: 20px 0;
}

#navbar ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-top: var(--secondary-color) 1px solid;
    border-bottom: var(--secondary-color) 1px solid;
    font-size: 15px;
}

#navbar ul li{
    padding: 10px;
}

#navbar ul li a{
    transition: 0.1s;
    padding: 11px;
}

#navbar ul li a:hover{
    color:var(--secondary-bg-color);
    background-color: var(--primary-color);
}

/* About Segment */
#about-segment{
    width: 100%;
    height: 350px;
}

#about-segment .container{
    display: flex;
    padding: 50px 0;
    border-bottom: var(--secondary-color) 1px solid;
}

#about-segment .container .left,
#about-segment .container .right{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#about-segment .container .left{
    border-right: var(--secondary-color) solid 1px;
    display: flex;
    align-items: center;
}

#about-segment .container .left img{
    background-position: center;
    width: 100%;
}

#about-segment .container .right{
    display: flex;
    align-items: center;
}

#about-segment .container .right p{
    width: 100%;
    text-align: center;
    text-justify:distribute;
}

/* suggested read */
#suggested-read{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#suggested-read h2{
    padding: 15px 20px;
}

#suggested-read .container{
    margin: 20px auto;
    padding-bottom: 30px;
    border-bottom: var(--secondary-color) 1px solid;
}

#suggested-read .container:first-child{
    border: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
}

#suggested-read .container .card{
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#suggested-read .container .card-img{
    grid-area: "img";
    width: 100%;
    justify-self: center;
    align-self: center;
}

#suggested-read .container .card-content{
    grid-area: "content";
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#suggested-read .container .card-content h3{

}

#suggested-read .container .card-content span{
    font-size: 12px;
    padding-left: 3px;
    margin-top: 3px;
}

#suggested-read .container .card-content p{
    margin-left: 3px;
    margin-top: 8px;
}

#suggested-read .container .card-content a{
    align-self: flex-start;
    margin: auto 0;
}

/* Contact */
#contact{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center
}

#contact h2{
    text-align: center;
}

#contact p{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

#contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact .text-fields {
    width: 100%;
    padding: 0 15px;
    display: grid;
    grid-template-areas: 'name email'
   'subject  phone'
   'message message';
    gap: 1.2rem;
    margin-bottom: 1.2rem; }
    #contact .text-fields .name-input {
      grid-area: name; }
    #contact .text-fields .subject-input {
      grid-area: subject; }
    #contact .text-fields .email-input {
      grid-area: email; }
    #contact .text-fields .phone-input {
      grid-area: phone; }
    #contact .text-fields .message-input {
      grid-area: message;
      height: 100px; }
    #contact .text-fields .text-input {
      padding: 0.5rem 1rem; }
  
  #contact button[type='submit'] {
    width: 50%;
    }